aiohttp==3.6.2
asgiref==3.2.10
async-timeout==3.0.1
attrs==19.3.0
beautifulsoup4==4.9.1
certifi==2020.4.5.1
chardet==3.0.4
colorama==0.4.3
coverage==5.1
decorator==4.4.2
dj-database-url==0.5.0
Django==3.0.8
django-tinymce==3.0.2
envparse==0.2.0
gunicorn==20.0.4
idna==2.9
imageio==2.8.0
imageio-ffmpeg==0.4.2
more-itertools==8.2.0
moviepy==1.0.3
multidict==4.7.5
names==0.3.0
numpy==1.18.4
packaging==20.3
Pillow==7.1.2
pluggy==0.13.1
proglog==0.1.9
py==1.8.1
pyparsing==2.4.7
pytest==5.4.2
pytest-aiohttp==0.3.0
pytest-asyncio==0.12.0
pytest-cov==2.8.1
pytz==2020.1
PyYAML==5.3.1
requests==2.23.0
six==1.14.0
soupsieve==2.0.1
sqlparse==0.3.1
tqdm==4.46.0
transitions==0.8.1
urllib3==1.25.9
wcwidth==0.1.9
whitenoise==5.2.0
yarl==1.4.2
psycopg2==2.8.5